@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
.hero-container {
  height: auto;
  width: 100%;
}
.topBanner {
  position: relative;
  background-image: url('../../../images/cari-cari.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
}
.topBanner .content-sec {
  height: 862px;
}
.banner-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -2px;
  background: linear-gradient(
    180deg,
    rgba(5, 11, 20, 0.28) 0%,
    rgba(1, 13, 32, 0.69) 67.53%,
    #0a0b1a 85.33%
  );
}
.topBanner .heroContent {
  text-align: left;
  margin-top: 168px;
  margin-bottom: 220px;
}
.topBanner .heroContent .title {
  position: absolute;
  height: 96px;
  left: 10%;
  top: 246px;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 96px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.topBanner .heroContent .subContent {
  position: absolute;
  height: 64px;
  left: 10%;
  top: 366px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.6;
}

.circle {
  margin: 0 auto 30px;
}

.circle2,
.circle3,
.circle4 {
  width: 11em;
  height: 11em;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
}
.circle1 {
  width: 11em;
  height: 11em;
  position: relative;
  border-radius: 50%;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #dd4cac;
  border-bottom: 1px solid #dd4cac;
  border-left: 1px solid #d3d3d3;
}

.content1 {
  position: absolute;
  left: 6.25%;
  right: 6.23%;
  top: 25%;
}
.content2 {
  position: absolute;
  left: 0;
  right: 25%;
  top: 25%;
}
.content3 {
  position: absolute;
  left: 0;
  right: 25%;
  top: 25%;
}
.content4 {
  position: absolute;
  left: 0;
  right: 25%;
  top: 25%;
}
.content2 img,
.content3 img,
.content4 img {
  height: 22px;
}
.content1 p,
.content2 p,
.content3 p,
.content4 p {
  position: static;
  width: 18px;
  height: 32px;
  left: calc(50% - 18px / 2);
  top: calc(50% - 32px / 2 - 16px);
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px auto;
}

.content1 span,
.content2 span,
.content3 span,
.content4 span {
  position: static;
  width: 39px;
  height: 12px;
  left: calc(50% - 39px / 2);
  top: calc(50% - 32px / 2 + 16px);
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 auto;
}
